body {
  background-color: #F9FBE7;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  background-color: #FEA1A1;
  padding: 8px;
  border-radius: 10px;
  text-align: center;
  width: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  transition: box-shadow 0.2s ease;
}

.navbar:hover {
  box-shadow: 6px 8px 1px rgba(0, 0, 0, 0.3);
}

.navbar h1 {
  color: #F9FBE7;
  font-size: 22px;
}

.cv-container {
  line-height: 10px;
}

.cv-container h2 {
  color: #213555;
  text-transform: uppercase;
}

.cv-container h3 {
  color: #213555;
}

.contact-details {
  margin-top: 10px;
}

.contact-details i {
  padding-left: 3px;
}

.section-title {
  margin-top: 35px;
  padding: 6px;
  letter-spacing: 3px;
  color: #FBFBFB;
  background-color: #213555;
}

.education-info {
  text-transform: uppercase;
  font-weight: bold;
  margin-top: 10px;
}

.work-experience {
  text-transform: uppercase;
  font-weight: bold;
}

.work-experience > div {
  margin-top: 3px;
}

.form-input {
  background-color: #F9FBE7;
  border-radius: 10px;
  padding: 12px;
  border: 3px solid #ECCDB4;
  width: 100%;
  margin-bottom: 10px;
}

.form-input::placeholder {
  color: #18122B;
}

.form-input:focus {
  outline: none;
  border-color: #FEA1A1;
}

h1 {
  text-align: center;
}

h3, h4 {
  color: #FEA1A1;
  margin-bottom: 6px;
}

p {
  font-family: Arial, sans-serif;
  color: #FEA1A1;
}

form {
  max-width: 500px;
  margin: auto;
}

input,
textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.button-1, 
.button-2 {
  display: block;
  width: auto;
  padding: 13px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: #FEA1A1;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: box-shadow 0.4s ease;
}

.button-2 {
  background-color: #ECCDB4;
}

.button-1:hover,
.button-2:hover {
  box-shadow: 6px 8px 1px rgba(0, 0, 0, 0.3);
}

#hasilCV {
  margin-bottom: 35px;
  border: 1px solid #FEA1A1;
  border-radius: 8px;
  padding: 50px;
  transition: box-shadow 0.2s ease;
}

#hasilCV:hover {
  box-shadow: 3px 3px 6px #ECCDB4;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  color: #FEA1A1;
  padding: 10px;
}

.footer p {
  margin: 0;
  font-size: 14px;
}
